body {
  background-size: cover;
  background-image: url("background.jpg");
}

header {
  background-color: lightblue;
}

h1 {
  text-align: center;
  color: purple;
  border: 1px;
  border-style: solid;
}

h3 {
  color: blue;
}

a {
  padding: 25px;
  font-size: 15px;
}

.column {
  float: left;
  width: 32%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 38%;
  padding: 10px;
}

}

.row {
  content: "";
  display: table;
  clear: both;
}

table, th, td {
  border: 1px solid black;
}
